[2019-02-19 07:45] jvnill opened #2 "Unable to install"
Hi, just trying out ember-cli-mdc but there's an issue with installing the ember-cli-mdc-stepper package

[code]

[2019-02-19 19:55] hilljh82 commented on #2
@jvnill I have been working to resolve the targeting issues. I just released a patch to take care of this. Please let me know if you run into any other problems.

[2019-02-19 22:58] jvnill commented on #2
Thanks.  all sorted

[2019-02-19 22:58] #2 closed, assigned to nobody

[2019-03-17 12:27] jvnill opened #3 "mdc-content has no css styling"
Hi,

Just want to ask if I missed something.   Attached is a screenshot of what my html markup looks like.  You can see that there is no styling for mdc-content which makes the top part of mdc-content hide behind the top app bar.

![Screen Shot 2019-03-17 at 10 19 03 PM](https://user-images.githubusercontent.com/151060/54490678-8e248b80-4903-11e9-9c56-09708c703e29.png)

Here is my emblem file

nav

[2019-03-18 13:00] hilljh82 commented on #3
@jvnill The default behavior for `mdc-content` is not include any adjustments, which is similar to what is present in [material-components-web](https://github.com/material-components/material-components-web/tree/master/packages/mdc-top-app-bar). This will cause your content to go behind the `mdc-top-app-bar`. This is necessary for some scenarios, such as a transparent `mdc-top-app-bar` overlaying

[2019-03-18 21:49] jvnill commented on #3
AH that works! thank you!

[2019-03-18 21:49] #3 closed, assigned to nobody

[2019-03-27 18:53] jamesstaub opened #4 "File not found: /app/styles/app.scss"
I get the following error when booting my app after installing any ember-cli-mdc module.

[code]

I am running ember 3.7.1
I am using ember-cli-sass, I have a ` /app/styles/app.scss`  file and the following in my ember-cli-build.js

[code]

Any recommendations?

[2019-03-27 19:18] jamesstaub commented on #4
**update**: removing ember-cli-sass seems to have fixed the problem

[2019-03-28 01:47] hilljh82 commented on #4
@jamesstaub First, thank you for your interest in using the project. If you are using it for any public product, it would be good to know so we can track how `ember-cli-mdc` is being used. Second, I was going to suggest removing `ember-cli-sass` from your project. `ember-cli-mdc` has its own integration of the sass compiler because `ember-cli-sass` does not work well with `material-components-web`

[2019-03-28 01:47] #4 closed, assigned to nobody

[2019-03-28 13:24] jamesstaub commented on #4
Thanks for the info, and for your work on this package! My company is trying this package for a customer-facing product but it is not yet public. We were drawn to this package over ember paper because paper does not implement the most recent version of material design components.

[2019-04-04 13:57] jamesstaub opened #6 "mdc-textfield label overlaps dynamic text"
It appears that `mdc-floating-label`'s  `.float` method gets called when the textfield is focused, but not when content is dynamically added to the rendered component.

![textfield-bug](https://user-images.githubusercontent.com/1205113/55560907-3d60b100-56bf-11e9-8480-2325bf9fd5cc.gif)

Perhaps the textarea could re-render the mdc-floating-label when it's value changes from undefined to defined?

[2019-04-04 14:12] jamesstaub opened #7 "MDC slider depends heavily on initially rendered position"
I'm wondering if it's in the scope of this library to implement a fix for a known issue with the MDC slider.

https://github.com/material-components/material-components-web/issues/4365

In my use case, the slider is rendered in an off screen component, which then slides into view. The mouse dragging range of the slider is based on the initial rendering position, so it becomes impossible to use if

[2019-04-04 21:45] hilljh82 commented on #7
@jamesstaub Yes, it is in the scope of the library to handle this problems. I had to provide a similar fix for handling error states with text field and text area components. We just have to be mindful that if this is fixed in the `material-components-web`, then we need to use that solution in favor of this one.

I think there could be a better solution that does not require the necessary checks i

[2019-04-04 21:49] hilljh82 commented on #6
@jamesstaub Although this is a bug, I'm just curious about the use case for this functionality. Why would only edit field be used to updated the values of another text field, unless the one being updated is readonly/disabled? Just my curiosity.

[2019-04-04 21:54] hilljh82 commented on #7
@jamesstaub Another solution, that does not require modifying the initial slider, is to subclass the `mdc-slider` to create a specialized one for being initially offscreen. I think the former solution would be a better solution than this one since the specialized slider requires you to know if your slider is initially offscreen.

[2019-04-04 21:57] jamesstaub commented on #6
I should have mentioned that the actual use case is an async model loading after the component has been rendered. The second input is just an easy way to demonstrate the behavior.

Another quick way to simulate the behavior is to set the value of the textfield to a model property, then use the ember inspector to manually update the model property after the component is rendered on the page.

[2019-04-10 01:42] hilljh82 commented on #6
@jamesstaub I have created a fix for this bug. The bug was also present in `mdc-textarea`. I created a fix for that one as well. I also added an optimization to only apply the fix when the `input` or `textarea` is not in focus. When the `input` or `textarea` are in focus, then the `textfield` component behaves as expected.

v. 0.74.15 has the fix.

[2019-04-10 06:12] #6 closed, assigned to hilljh82

[2019-04-10 07:06] hilljh82 commented on #7
@jamesstaub I wanted to give you an update on this issue. I know how to fix the problem. I am trying to create a clean example that illustrates how to use the fix. As a preview, the `mdc-slider` component will have a `forceLayout` attribute that will map to the `layout()` method on the `material-components-web` slider. This seems to solve the problem you are experiencing. You, however, will have t

[2019-04-10 14:12] hilljh82 commented on #7
@jamesstaub I have merged a fix into master, and will be making a bug fix release. The example illustrating the problem and solution can be found in `tests/dummy` in `mdc-slider` package. All the entities that have a `issue7` prefix are part of solution example.

To better explain the solution, you must signal the `requestLayout`  attribute on the `mdc-slider`. In order for this to happen, the sli

[2019-04-10 14:41] hilljh82 commented on #7
v 0.74.16 has the fix for this issue.

[2019-04-11 12:14] hilljh82 commented on #7
@jamesstaub I am going to go ahead and close this issue. If the solution does not resolve your problem, please reopen this issue.

[2019-04-11 13:18] jamesstaub commented on #6
Amazing, thank you very much

[2019-04-11 13:19] jamesstaub commented on #7
Sounds good, thank you.

[2019-04-14 20:08] mloar opened #11 "mdc-textfield: TypeError if value is null"
The recent change [d55fcae](https://github.com/onehilltech/ember-cli-mdc/commit/d55fcae03e4241d03dc371ecba530e5aff72aed6) introduced a bug where a TypeError will occur in _checkValue if value is null.
`   if (document.activeElement !== input && value !== undefined && value !== value.value) {`

[2019-04-14 20:31] hilljh82 commented on #11
@mloar There seems to be a typo in the conditional statement that I need to check. But, do you have an example that is causing the issue? Is it when value=null in the template?

[2019-04-14 20:43] mloar commented on #11
In my case I'm binding value to a DS.attr('string') on a model. My backend returns nulls in the JSON, which get passed through the model into the template. Probably not the best design, but hasn't been a problem otherwise.

[2019-04-14 21:20] hilljh82 commented on #11
@mloar Thanks, this is helpful.

[2019-04-15 17:05] hilljh82 commented on #11
@mloar 0.74.17 has the fix.

[2019-04-28 15:39] hilljh82 commented on #7
@jamesstaub I am going to reopen this issue to ask a question.

What MDC component were you trying to use the slider in that was causing this issue? Or, were you trying to use the slider in a custom component you were developing that had animation?

[2019-04-29 19:54] jamesstaub commented on #7
I'm using it inside an [ember-modal-dialog]( https://github.com/yapplabs/ember-modal-dialog)
which isn't animated per se but uses ember-wormhole, so it gets moved around the DOM after render.

[2019-04-30 10:14] ivanvanderbyl opened #13 "Sass compiler crashes on large apps"
We have about 100k modules in node_modules, the default setup of mdc-sass is to add all of node_modules to the import path of sass, which in turn watches all files and basically chews up all resources.

After about 10 minutes of compiling we start to run out of available file descriptors and memory.

A better approach would be to use normal ember-cli-sass, and configure it as follows:

[code]

[2019-04-30 12:56] hilljh82 commented on #13
@ivanvanderbyl Thanks for this suggestion. We originally used ember-cli-sass, but ran into the issue you are explaining in our projects. That why we created a new version. I will give your suggestion a try simce i did not know about the `importer` property. I rather adapt `ember-cli-sass` than maintain our own.

[2019-04-30 14:19] hilljh82 commented on #7
@jamesstaub The reason I ask is because I created a polyfill package for the side sheet component while the real one from `material-components-web` is being developed. The side sheet has a slider, and was running into the same problem you experienced. I was planning to update the side sheet to have built in events for when different animations end. I was also thinking of pushing this to the animat

[2019-04-30 14:34] jamesstaub commented on #7
ok gotcha. If you take such an approach and it solves the problem for `{{mdc-dialog}}` then I will likely switch to that from ember-modal-dialog.

Thanks for the update

[2019-04-30 22:25] waissbluth opened #14 "Change default typography (remove Roboto)"
According to [the docs](https://github.com/onehilltech/ember-cli-mdc/tree/master/packages/mdc-typography#roboto-font), "The typography package automatically includes links to the Roboto fonts in your application.".

Is there an official way to avoid this? The `mdc-typography` gets added on install, but nothing seems to break removing it from the `package.json`.

[2019-04-30 23:45] hilljh82 commented on #14
@waissbluth Could you please clarify your question/comment? It's unclear what you are wanting to remove, or trying to accomplish.

[2019-05-01 00:37] waissbluth commented on #14
@hilljh82, I am trying to:
a) set a font other than Roboto as a default for all components, and
b) stop the message `Linking Roboto fonts with the application.` that shows up in the build process (it actually shows up twice for every build, but that is probably a separate issue)

[2019-05-01 01:54] hilljh82 commented on #14
@waissbluth

(a) Can you not use [this approach as recommend in material-components-web](https://github.com/material-components/material-components-web/tree/master/packages/mdc-typography#overriding-styles) to change the default font for all components? Just place what they recommend at the top of your `app.scss` file before any of the imports.

(b) I have been trying to figure out how to address

[2019-05-01 17:25] hilljh82 commented on #13
@ivanvanderbyl FYI, we will be working on this fix after we completely update the targets for `ember-cli-mdc` to `material-components-web` `v2.0.0`.

[2019-05-02 13:26] waissbluth commented on #14
Thank you @hilljh82, (a) works. It still would be nice not to load Roboto at all, but this will do.

[2019-05-02 13:26] #14 closed, assigned to nobody

[2019-05-02 14:43] hilljh82 commented on #14
@waissbluth Great!

Its understanable to not link the fonts if you are using a custom font. We will look into supporting this feature via environment configuration.

[2019-05-03 06:41] ivanvanderbyl commented on #13
Thanks for the update. I have a fork which implements this, I'll clean it and open a PR here,.

[2019-05-09 15:05] jamesstaub commented on #11
I am experiencing a similar problem with mdc-textfield 0.78. if i pass a null property to `value` (like when a related model has not resolved.

![Screen Shot 2019-05-09 at 10 47 05 AM](https://user-images.githubusercontent.com/1205113/57464215-56262e80-724a-11e9-817a-b94ef89d2943.png)

[2019-05-10 02:37] hilljh82 commented on #11
@jamesstaub This is the same problem, but in a different location. It seems that `2.0.0` has made some changes at the foundation level that is not liking `null` values.

[2019-05-10 02:48] hilljh82 commented on #11
@jamesstaub Upon further investigation, this is actually a completely different issue altogether. The underlying `material-components-web` does not like a `null` value. Ideally, the underlying foundation component should check for `null` value before trying to set the character count. I am going to submit a patch to `material-components-web` to handle this scenario.

In the meantime, I am trying t

[2019-05-10 02:58] hilljh82 commented on #11
`0.78.1` patch contains a fix for this problem.

[2019-05-10 02:58] #11 closed, assigned to nobody

[2019-05-10 13:59] hilljh82 commented on #14
@waissbluth `0.78.2` allows to you disable linking of Roboto font too.

  https://github.com/onehilltech/ember-cli-mdc/tree/master/packages/mdc-typography#disable-integration

[2019-05-13 21:17] jamesstaub commented on #11
awesome thank you!

[2019-07-19 18:26] jamesstaub opened #20 "mdc-radio?"
Is there any plan to implement the mdc-radio component?

[2019-07-19 18:56] hilljh82 commented on #20
@jamesstaub I was working on implementing `mdc-radio` support, but stopped since I found a better UI design instead of using a radio button for my personal projects. Is this something you need urgently for your project?

[2019-07-22 13:37] jamesstaub commented on #20
We'd like to use it yes, but can make do designing our own for the time being. I'll keep an eye out in case you decide to implement it in the future. Thanks.

[2019-10-29 07:00] victorcasignia commented on #20
@jamesstaub If you still need mdc-radio, I've implemented it on my fork. Will probably PR this if I get the time to remove the ember-radio-button package dependency I used.

[2019-10-29 13:37] jamesstaub commented on #20
thanks! I'll take a look

[2019-10-29 15:25] hilljh82 commented on #20
@jamesstaub @victorcasignia This is great! BTW, 1.0.0, will have support for both radio buttons and data tables.

[2019-11-01 13:24] ahemed-haneen opened #23 "will there be glimmer support for this project?"

[2019-11-02 01:10] hilljh82 commented on #23
Yes. I have been following this issues related to glimmer components in ember.

https://github.com/emberjs/ember.js/issues/16301

When they get further along, we will consider adding support.

[2019-11-14 15:30] ahemed-haneen commented on #23
and is there something similar to onChange found in ember paper?
and while using i found it hard to resize the components to my specific dimensions . is it because im doing it the wrong way? if its possible whats the right way to do this @hilljh82

[2019-11-15 00:36] hilljh82 commented on #23
@AhemedHan Can you please be more specific as to what you are trying to accomplish? If you could provide an example or let me know what component you are trying to use, I could then be of more assistance.

[2019-11-17 07:35] ahemed-haneen commented on #23
we are trying to add text inputs to forms. the first challenge is that the input text fields, selects and icon buttons are too large for our design concepts and trying to size it down makes all the elements go crazy...especially the ripple.

the other thing is im not able to bind a variable with the elements. adding value=this.something doesn't bring the input into something.  and i was also hopin

[2019-11-18 00:15] hilljh82 commented on #23
@AhemedHan To make the size of the input fields smaller, try adding `style="dense"`

    {{mdc-textfield style="dense"}}

Let me know if this makes the input fields smaller. In the next version, `dense` will be a boolean attribute on corresponding components to allow you to have dense version of the different styled inputs. Until then, you can just add the appropriate style/dense class combo to th

[2019-11-19 10:47] ahemed-haneen commented on #23
thanks man. the dense thing helped. and also since im working on ember octane i think instead of computed i should be looking into tracking. but anyway thanks for that too

[2019-11-19 13:19] hilljh82 commented on #23
Great. I'm going to close this issue then.

[2019-11-19 13:19] #23 closed, assigned to nobody

[2019-12-19 10:24] ahemed-haneen opened #24 "im having some issues with unneccessarily large components on big screens. can i use flex with grid to solve that?"
i am having issues with columns stretch too much on large screens which results in either too much gap between elements or unnecessarily large elements. would i be able to solve that using flex along with mdc-grid? or does mdc have methods to solve these issues?

to explain with a sample situation, i have 2 buttons
the first one can be easily accomadated in a single column...the second one though

[2019-12-19 14:00] hilljh82 commented on #24
@TheLooseCannon Have you considered using a [mdc-layout-grid](https://github.com/onehilltech/ember-cli-mdc/tree/master/packages/mdc-layout-grid)? It's grid has the following max number of columns.

* Phone: 4 columns
* Tablet: 8 columns
* Desktop: 12 columns

Within the the grid, you can then add as many cells as you want and define its with for phone, tablet, and desktop. You can even include emp

[2019-12-20 15:13] ahemed-haneen commented on #24
thanks..that sure does help... thanks again for replying so fast....in fact i'm using the grid-cells and they do help me a lot. but the thing is
[code]

now the middle button should be close to each other with it only occupying as much space as it needs. But since its in a column of width 2 span, if the column width is more than necessary, the button would stretch("where width = 100%") or if we se

[2019-12-20 20:43] dnix commented on #20
Hello! Are there any updates to having standalone `mdc-radio` in 1.0.0? Thanks in advance!

[2019-12-20 20:53] hilljh82 commented on #20
@dnix Yes, it is still planned, and will happen. Thanks for inquiring!

[2019-12-20 21:04] hilljh82 commented on #24
@TheLooseCannon I think I understand the problem you face. You do not want the middle button to fill the entire space, but you need it to fill "some" space. Have you looked at using the [`mdc-layout-grid`](https://github.com/onehilltech/ember-cli-mdc/blob/master/packages/mdc-layout-grid/addon/components/mdc-layout-grid-inner.js) component instead the `mdc-layout-grid-cell`. There is no example in

[2019-12-24 07:07] ahemed-haneen opened #25 "Trying to create a glimmer component based fork"
hi im trying to create a glimmer component version of ember-cli-mdc but

import Mixin from '@ember/object/mixin';

[code]

i don't know how to solve the issue "mdc not defined" in line 4 mdc.ripple for mdc-ripple mixin
and similary i have the same issue with

[code]
line 2

can you please help me with that?

[2019-12-25 10:05] #25 closed, assigned to nobody

[2020-01-25 01:46] hilljh82 commented on #24
@TheLooseCannon Closing to due to inactivity.

[2020-01-25 01:46] #24 closed, assigned to nobody

[2020-02-06 17:16] waissbluth opened #27 "Unable to render {{mdc-select}}"
I am having trouble rendering the `{{mdc-select}}` in an Ember 3.13 app. I have not been able to reproduce this in fresh app, but it does happen regardless of the parameters passed to the component (and even with no parameters).

I am having trouble debugging this or getting to the root cause, so any help is appreciated.

This is on `ember-cli-mdc-select` version 1.0.0-alpha.12.

[code]

Thanks!

[2020-02-06 17:27] waissbluth commented on #27
This was fixed by downgrading `@material/select` from version 4.0 to 3.2, which does not seem to be supported and shouldn't have been upgraded in the first place i suppose

[2020-02-06 17:27] #27 closed, assigned to nobody

[2020-02-06 17:29] hilljh82 commented on #27
Hi Nicolas,

That is correct. This version builds against 3.2.

After releasing ember-cli-mdc 1.0, we will being working on ember-cli-mdc 2.0. Version 2.0 will support material-components-web 4.0 and Ember Octane.

[2020-02-15 04:51] Shajansheriff commented on #4
I am facing the same slow re-compile issue in my app when i directly tried to use `material-components-web` with `ember-cli-sass`.  @hilljh82  Could be please shed some light on why it is taking more than 30sec-1min to recompile? How do you solve the issue by building `ember-cli-mdc-sass` ? It would be really helpful to understand the scenario.

[2020-02-20 13:43] ahemed-haneen opened #28 "will there be a octane version anytime soon? just interested"

[2020-02-20 20:00] hilljh82 commented on #28
@TheLooseCannon Yes, there will be an Octane version. I am in the planning stages right now.

[2020-05-14 03:12] hilljh82 commented on #28
@TheLooseCannon We plan to begin working on the Octane version starting at the end of May not that we have a much better understanding of what has changed.

[2020-06-24 10:41] madnificent opened #31 "Installation in fresh Ember app causes breaking build"
Installing this addon in an ember 3.19.0 app breaks the build

# Steps to reproduce

1. Make sure you have ember-cli 3.19.0 installed
2. run `ember install ember-cli-mdc-button`
3. Start the server `ember s`

We run ember in a docker container, so our exact steps have been:

    edi ember new ipfs-search-mdc-test
    cd ipfs-search-mdc-test
    edi ember g route button-test
    edi ember install e

[2020-06-24 12:15] Jopie01 commented on #31
I have the same issue here. I had an older app running and downgraded most of the `ember-cli-mdc-...` and `@material/....` dependencies to the versions used in that app. Haven't tried to upgrade them it's running and "never change a running system" 😃 . Below my `devDependencies`
[code]
Can this https://github.com/material-components/material-components-web/pull/5453 have something to do with it?

[2020-06-24 12:36] Jopie01 opened #32 "[mdc-dialog] Actions 'scrimClickAction' and 'escapeKeyAction' doesn't return anything"
You can close a `mdc-dialog` with:

1. The buttons in the dialog
2. The scrim
3. Escape-key

See also https://github.com/material-components/material-components-web/tree/master/packages/mdc-dialog#dialog-actions. However only the first one is working and the other two are not because the `willClose` and `didClose` functions in `mdc-dialog.js` only looks for the buttons. When closing the dialog wit

[2020-06-24 14:10] hilljh82 commented on #31
@Jopie01 Based on the dependency list, you have installed the pre-release version of ember-cli-mdc updated to 3.18 to support Ember Octane in your first post. Unfortunately, since it is a pre-release (including in your second post), it is not supported. I wish npm worked correctly and did not install pre-release versions. But, try the following:

    ember install [package-name]@^1.0.0

This will

[2020-06-24 14:18] hilljh82 commented on #32
@Jopie01 The latest release of this library (i.e., 1.x) using material-web-component 3.2.0. What you reference is master in material-web-components. Once we are done with updating this framework to 3.18 (to support Octane), which will be ember-cli-mdc@2.x, we will be building against material-components-web 6.x, not 7.x. Is this documentation (and functionality) the same for the 6.x release of mat

[2020-06-24 14:42] Jopie01 commented on #32
Hmm, it seems those actions are already supported in version 3.2.0 if I'm not mistaken. See https://github.com/material-components/material-components-web/tree/v3.2.0/packages/mdc-dialog#dialog-actions
I have a working version of this which fills my needs. Below the two functions which have been changed. I can now use `scrimClickAction` and `escapeKeyAction` in my templates.

[code]
I'm pretty sur

[2020-06-24 15:58] hilljh82 commented on #32
@Jopie01 Thanks for this. Yes, this will need to be cleaned up a bit, but it gives us a starting point. I will look into getting this put into a patch.

[2020-06-24 19:04] madnificent commented on #31
Thanks for the swift responses and for updating the README.  The button works now!

You should be able to make a prerelease by running `npm publish --tag beta` (some more content at https://gist.github.com/adcreare/00a10f389841dd4c97197608c9b33a7f)

[2020-06-24 19:08] hilljh82 commented on #31
@madnificent The problem is that ember keeps installing the pre-releases. From my understanding, that should not be the case and is the source of the headaches. For example, I should be able do the following command:

    ember install ember-cli-mdc-button

and that should not install a prerelease version. If I am misunderstanding how `npm install` works under the hood, then I need to brush up on

[2020-06-24 19:08] #31 closed, assigned to nobody

[2020-07-22 08:21] makepanic commented on #28
Hi, did you have any time to work on an octane version?

I could start working on it if you want to.

[2021-01-07 14:03] mtsgeneroso opened #34 "Importing the mdc components by another component"
Hi, for some reason when I import the components my SASS files are ignored.

I'm trying to import `ember-cli-mdc-[component]` inside my own component (just for styling), but I always find this files problem.

You know something about that or how can I fix?

[2021-01-07 14:31] hilljh82 commented on #20
This component has been implemented. Its in the [ember-cli-mdc-radio](https://github.com/onehilltech/ember-cli-mdc/tree/master/packages/mdc-radio) package.

[2021-01-07 14:31] #20 closed, assigned to nobody

[2021-01-07 14:32] hilljh82 commented on #32
@Jopie01 I believe this issue has been resolved with the latest release the mdc-dialog package.

[2021-01-07 14:33] hilljh82 commented on #28
@TheLooseCannon The octane version is finally complete. It was a complete rewrite of all the components.

[2021-01-07 14:33] #28 closed, assigned to nobody

[2021-01-07 14:34] hilljh82 commented on #34
I am closing this issue since no description was provided. If this is closed by mistaken, please describe the issue so we can address it.

[2021-01-07 14:35] hilljh82 commented on #7
I am closing this issue for now because the new material-components-web may have fixed this issue internally, which ember-cli-mdc 2.x is built on. If not, please re-open it so we can investigate.

[2021-01-07 14:35] #7 closed, assigned to hilljh82

[2021-01-07 14:37] jamesstaub commented on #7
@waissbluth

[2021-01-07 15:08] mtsgeneroso commented on #34
Sorry about that, was a misclick

[2021-01-07 15:40] hilljh82 commented on #34
@mtsgeneroso Can you provide a simple code example so I can help you with a solution?

[2021-01-07 15:43] hilljh82 commented on #34
@mtsgeneroso Based on the subject of the issue, I think this may answer your question:

[code]

For example, to import the dialog component to extend, you would do the following:

[code]

I hope this answers you question. If not, please clarify any misunderstandings.

[2021-01-07 15:46] hilljh82 commented on #34
BTW, there may be another way to solve your design problem that does not require extending the component. I would recommend extending the component if you are modifying the behavior of the component. If you are just stying the component, they may be some other way. Just a thought.

[2021-01-07 18:56] hilljh82 commented on #13
@ivanvanderbyl I know its been a while, but where in the add-on are you configuring the `sassOptions` above?

[2021-01-07 19:53] mtsgeneroso commented on #34
Thank you for your help!

I basically installed the component using `ember install ...` (I tried to fix importing directly through addon/index.js, but nothing relevant)

In the future, I will need to extend the component behaviour, but now it's just style.

Have some thing that I could do to custom that extended component without ignoring the SASS of my addon?

[2021-01-07 19:57] hilljh82 commented on #34
@mtsgeneroso Did the suggestion above solve your problem? Is it ok for me to close this issue, or does the issue still remain?

[2021-01-07 20:30] mtsgeneroso commented on #34
I did:

![image](https://user-images.githubusercontent.com/18399145/103940714-91a68980-510c-11eb-8d96-cf4c7b7391ff.png)

All the styles files have is only `body { color: red }` (just testing the style). That style does not appear on the final build files.

[2021-01-07 21:24] hilljh82 commented on #34
@mtsgeneroso It seems like you are making add-on? If so, you need move `ember-cli-mdc-sass` to the dependencies section of your `package.json`. This is required when you are creating an add-on and it contains an add-on that takes part in the complication phase, such is the case with `ember-cli-mdc-sass`.

[2021-01-07 22:55] hilljh82 opened #35 "Sass compilation is really slow on large projects"
The sass compiler is much slower with v2 release when compared with the v1 release.

[2021-01-08 03:03] hilljh82 commented on #13
@ivanvanderbyl I figured it out.

[2021-01-08 04:23] hilljh82 commented on #13
Closing the issue since node-sass does not work with the latest version of material-component-web.

[2021-01-08 04:23] #13 closed, assigned to nobody

[2021-01-14 13:03] mtsgeneroso commented on #34
Hi, sorry for the delay.

I created again a fresh addon using your instructions (adding mdc-sass on `package.json`). But, didn't work. Have you some example of this situation, addon (ember-cli-mdc) inside an addon (wrapper for styling)?

[2021-01-14 13:43] hilljh82 commented on #34
@mtsgeneroso yes, [ember-cli-gatekeeper](https://github.com/onehilltech/ember-cli-gatekeeper). Do you mind pushing the fresh add-on to a git repo, and letting me help diagnose the problem?

[2021-01-14 19:28] mtsgeneroso commented on #34
It's worked! I followed the add-on structure for styles and your instructions above.

My mistake was adding the stylesheet on the wrong folder (I'm a newbie with emberjs).

I started the project on bitbucket. I can give you permission in the repo, just send me your email of there.

[2021-01-15 03:37] hilljh82 commented on #34
Great, I am going to close this issue now.

[2021-01-15 03:37] #34 closed, assigned to nobody

[2021-01-15 03:38] hilljh82 commented on #35
This issue is no longer valid. We reverted back to the custom plugin.

[2021-01-15 03:38] #35 closed, assigned to nobody

[2021-04-20 18:51] #32 closed, assigned to nobody

[2021-07-21 14:28] ohcibi opened #36 "sassOptions.extension = sass gets ignored and app/styles/app.scss: no such file or directory is thrown"
Note that this issue is different from #4 where the author is using an `app.sCss` file and not an `app.sAss` file. I've set `sassOptions: { extension: 'sass' }` in ember-cli-build.js but still get this error when building my app.

Steps to reproduce
1. configure sass extension to `sass`
2. remove app.scss, add app.sass
3. build the app

It looks like in this and the following lines: https://github

[2021-07-21 14:37] hilljh82 commented on #36
@ohcibi We are using [dart-sass](https://github.com/sass/dart-sass) as the sass compiler. Per the [documentation](https://github.com/sass/dart-sass/blob/main/README.md#javascript-api), there is no `extension` option. Can you not rename your sass files to `.scss`, which seems to be the expected file extension for `dart-sass`.

[2021-07-21 15:19] ohcibi commented on #36
@hilljh82 Sass files with a `.sass` extension have a different syntax than those with SCSS. Dart-sass supports both syntaxes, hence '.scss'  is not the 'expected'  extension for dart-sass, but 'CSS', 'SCSS' and 'SASS'. The very first chapter of said [documentation](https://sass-lang.com/documentation/syntax) explains both variants.

Mind that parsers/compilers do not care for file extensions. The

[2021-07-21 15:37] ohcibi commented on #36
This is the line where the plugin reads an `extension` key from the `sassOptions` but then it is not used: https://github.com/onehilltech/ember-cli-mdc/blob/715b004646336e470ed067db3449d96c2fbe51f5/packages/mdc-sass/lib/sass-plugin.js#L37

[2021-07-21 15:48] hilljh82 commented on #36
@ohcibi Since you seem to have a fix for the problem, would you mind submitting a pull-request with the suggested fix?!

[2021-07-21 15:57] hilljh82 commented on #36
@ohcibi First, let's just focus on the issue at hand, which is the extension being recognized within `ember-cli-mdc-sass`. The other issue you mention is more philosophical.

Would you mind submitting a pull-request to fix the extension problem you are currently having? If the problem goes into issues with the sass compiler itself, which you seem to elude too, then we may have to just table this i

[2021-07-21 16:18] ohcibi commented on #36
The issue is that the plugin somehow tries to import an app.scss with scss being hardcoded... i cannot find that place, otherwise I'd had pull requested.. I don't have too much experience with blueprints either, maybe its some magic there.

But i can find quiet a few places where .scss is hardcoded (by grepping). These and other places where the plugin was written with the expectation of only one

[2021-07-21 16:47] hilljh82 commented on #36
@ohcibi Ok, I will go ahead and label this as an enhancement. We are working on updating ember-cli-mdc to support material-components-web 11.0. Maybe we can enhance the ember-cli-mdc-sass add-on to better support what you describe above.

[2021-07-22 07:03] ohcibi commented on #36
Again I suggest to extract the project from the mdc domain. Theres a lot more people interested in sass/scss than only those who want to work with mdc. I wasn't even aware that there is a modern replacement for ember-cli-sass until I got to work with material and this issue's general problem is a known issue from good ol ember-cli-sass and I guess theres some people who have different or even bett

[2021-07-22 14:17] hilljh82 commented on #36
@ohcibi Personally, I do like having to maintain a separate version of a SASS compiler. The reason we have a separate sass add-on in ember-cli-mdc is the original ones were very slow and did not scale to our needs. Even with the most recent versions, any live update would take up to 2 minutes to process due to the sass build process.

Based on what you state above, this is really no longer a ember

[2021-08-15 15:52] davidbilling opened #38 "DEPRECATION WARNING: Using / for division is deprecated and will be removed in Dart Sass 2.0.0."
This warning appears in most packages. Will this be fixed in upcoming versions?

DEPRECATION WARNING: Using / for division is deprecated and will be removed in Dart Sass 2.0.0.

Recommendation: math.div(notched-outline-variables.$label-box-height, 2)

More info and automated migrator: https://sass-lang.com/d/slash-div

   ╷
36 │   @return $text-field-height / 2 + notched-outline-variables.$label-b

[2021-08-15 16:18] hilljh82 commented on #38
@davidbilling We have noticed this as well, but from what we can tell this is associated with material-component-web. We plan on updating to the latest version (11.0), and hopefully this issue goes away. If not, we may have to bind to a version of dart-sass that supports this usage in material-component-web.

[2021-08-15 16:31] davidbilling commented on #38
@hilljh82 Great! Looking forward to the 11,0 upgrade. You made great addons.

[2021-10-15 07:26] pathway27 opened #39 "Ember Addon Install Problem"
Hey, I just did a `ember install ember-cli-mdc`, and I get this error:

[code]

Is there something wrong with the versioning of this package?

[2021-10-15 12:56] hilljh82 commented on #39
@pathway27 Is it safe to assume that the top-level command you ran was

    yarn add --dev ember-cli-mdc-typography@^2.3.4 --non-interactive

[2021-10-31 15:24] pathway27 commented on #39
Nope, I ran `ember install ember-cli-mdc` and it's stuck at a different package now:

[code]

I'm wondering why it tries to install version `2.3.4`?

[2021-11-01 01:54] hilljh82 commented on #39
@pathway27 This add-on uses a specialized blueprint that tries to speed up the installation when compared to just installing it the traditional way. We also recommend that you only install the add-ons you need, and not install `ember-cli-mdc`. For example, if you need buttons, then install:

    ember install ember-cli-mdc-button@^2.0.0

[2021-11-01 01:57] hilljh82 commented on #39
@pathway27 You can find list of add-ons here:

https://github.com/onehilltech/ember-cli-mdc/tree/master/packages

Just append `ember-cli-` to the beginning of the package.

BTW, I am removing the part in the README where it gives instructions to install all packages. I didn't realize it was still present in the README.

[2021-12-09 19:31] mtsgeneroso opened #41 "Problem with npmjs versioning"
I've been helping some coworkers install these components on their projects. An annoying thing has been happening when we try to install the latest stable version and by mistake we get an alpha.

![image](https://user-images.githubusercontent.com/18399145/145460353-f16214ec-77db-4390-906f-9a34a58b56c3.png)

Is it possible to follow the @material-components pattern?

![image](https://user-images.gi

[2021-12-09 19:34] hilljh82 commented on #41
@mtsgeneroso Unfortunately, we do not want to do that since we do not release and/or update at the same times. Make sure you are adding the version to the ember addon being installed:

https://github.com/onehilltech/ember-cli-mdc#installation

[2021-12-09 20:18] mtsgeneroso commented on #41
@hilljh82 OK, got it.

[2021-12-09 20:18] #41 closed, assigned to nobody

[2022-01-01 13:06] mrloop opened #44 "Lerna / Embroider and bundle size"
My understanding is that using Lerna was to allow downstream packages ability to only import mdc components that are required and thus the final bundle size is reduced as it would not include unused components. Now that Embroider is available and has tree shaking, which would achieve the same bundle size reductions by not including unused component should, would it be good to look at converting em

[2022-01-01 14:22] hilljh82 commented on #39
I am closing this issue since it is assumed @pathway27 issue has been addressed. If not, please reopen this issue.

[2022-01-01 14:22] #39 closed, assigned to nobody

[2022-01-01 14:34] hilljh82 commented on #44
@mrloop When I originally started this project, I wanted to have everything in a single add-on project. This is how I did it in [ember-cli-mdl](https://github.com/onehilltech/ember-cli-mdl). When [material-components-web](https://github.com/material-components/material-components-web) became the de facto standard for using Material Design on the web, I had to take a different approach. This is bec

[2022-01-01 17:08] mrloop commented on #44
Thanks for the link. I found this issue https://github.com/material-components/material-components-web/issues/1521 and this PR for a vue project https://github.com/material-components/material-components-web/pull/1552 which uses a single package, albeit now deprecated. Reading the comments I think a single package embroider addon would meet the _a-la-carte_ criteria.

I'll put together a POC. I'd

[2022-01-01 17:19] hilljh82 commented on #44
@mrloop We will have to check first, and explain what we are hoping to achieve. It's important this project remains listed at this point in time.

On another note, a proof-of-concept would be great. If we can simplify the package structure, but still be able to install each component independently as required per Google, then I am all for it.

I have not viewed the vue package above, but one thing

[2022-01-22 14:52] hilljh82 commented on #38
@davidbilling This has been fixed for `ember-cli-mdc@^2.0.0`. I had to bind sass to version 1.30.0.

[2022-01-22 14:52] #38 closed, assigned to nobody

[2022-04-18 13:45] mrloop commented on #44
Took an alternative approach https://github.com/mrloop/ember-material-modifier

[2022-04-18 13:45] #44 closed, assigned to nobody